.its {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  &__status {
    margin-top: 30px;
    font-family: "Roboto Condensed";
    font-weight: 500;
    font-size: 24px;
  }
  &__title {
    margin-top: 50px;
    font-weight: 800;
    font-size: 36px;
    color: #051919;
  }
  &__text {
    margin-top: 15px;
    font-size: 22px;
    line-height: 35px;
    &--bg {
      margin-top: 20px;
      font-size: 19px;
      font-weight: 600;
      line-height: 31px;
      padding: 10px 15px;
      background-color: #ffdee1;
      background: rgb(255, 206, 165);
      background: linear-gradient(174deg, rgb(255, 255, 255) 0%, rgb(249, 249, 246));
      border-radius: 5px;
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
  }
  &__img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
    margin: 40px auto;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 290px;
    height: 50px;
    font-size: 19px;
    color: #ffff;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px #223c5033;
    background: linear-gradient(173deg, #dd5b5b, #cc1c1cea);
  }
}

.its-tariff {
  max-width: 1400px;
  margin: 0 auto;
  &__title {
    margin-top: 50px;
    font-family: "Roboto Condensed";
    font-weight: 600;
    font-size: 32px;
  }
  &__items {
    margin-top: 30px;
  }
  &__items-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  &__item {
    width: 360px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 3px #223c5033;
    &:hover .its-tariff__item-title {
      color: #cbac33;
    }
  }
  &__item-title {
    font-family: "Exo 2";
    font-size: 26px;
    font-weight: 600;
    color: #002525;
    transition: 0.2s all;
  }
  &__item-descr {
    margin-top: 5px;
    font-size: 18px;
    color: #646464;
  }
  &__devide {
    font-family: "Exo 2";
    font-size: 22px;
    font-weight: 500;
    padding: 15px;
    background: rgb(255, 214, 87);
    border-radius: 5px;
    background: linear-gradient(86deg, rgba(255, 214, 87, 1) 0%, rgba(255, 225, 190, 1) 100%);
    color: #000000c8;
    box-shadow: 4px 4px 8px 3px #354b5b33;
    &:not(:first-child) {
      margin-top: 60px;
    }
  }
}
