.privacy {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  &__inner {
    margin-top: 50px;
  }
  &__head {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }
  &__text {
    margin-top: 15px;
    font-size: 20px;
    line-height: 30px;
  }
  &__title {
    margin-top: 30px;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    color: #1e1e1e;
  }
  &__list {
    margin-top: 15px;
  }
  &__list-item {
    margin-left: 15px;
    font-size: 20px;
    line-height: 30px;
  }
}
