// font-family: 'Exo 2';
// font-family: 'Inter';
// font-family: 'Montserrat';
// font-family: 'Montserrat Alternates';
// font-family: 'Roboto Condensed';

* {
  box-sizing: border-box;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding-bottom: 100px;
  &--pb0 {
    padding-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.fadeInLeft {
  position: relative;
  left: -50px;
  transition: 0.6s all;
  opacity: 0;
}

.fadeInTop {
  position: relative;
  top: -50px;
  transition: 0.6s all;
  opacity: 0;
}

.fadeInScale {
  transform: scale(0.8);
  transition: 1.2s all;
  opacity: 0.5;
}

.main-text {
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: #5a6482;
}

.stocks {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: rgb(83, 0, 145);
  background: linear-gradient(80deg, rgba(82, 0, 145, 0.894) 0%, rgba(167, 90, 180, 1) 54%, rgba(91, 90, 180, 1) 100%);
  color: #ffffff;
  a {
    font-size: 16px;
    color: #fffa75;
    margin-left: 8px;
  }
}

.header {
  box-shadow: 0 0 8px #0000001a;

  &__top {
    height: 32px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #e7e7e7;
  }
  &__top-inner {
    width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
  }
  &__top-right {
    position: relative;
    display: flex;
    gap: 12px;
  }
  &__top-left {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__top-btn {
    height: 30px;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 700;
    text-transform: lowercase;
    border: none;
    background-color: #ffe176;
    background: rgb(255, 225, 118);
    background: linear-gradient(85deg, rgba(255, 225, 118, 1) 0%, rgba(255, 189, 95, 1));
    border-radius: 3px;
    color: #313131;
    padding: 2px 15px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: 0.2s all;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -13px;
      height: 17px;
      width: 2px;
      background-color: #dbdbdb;
    }
    &::before {
      content: "заказать звонок";
      position: absolute;
      left: 0;
      top: 0;
      text-transform: lowercase;
      width: 100%;
      height: 100%;
      color: #ffffff;
      border-radius: 3px;
      background-color: #000000;
      transition: 0.2s all;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
    }
  }
  &__top-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    img {
      height: 30px;
    }
  }
  &__top-link {
    font-family: "Exo 2";
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s color;
    &:hover {
      color: #6c3bce;
    }
    img {
      height: 23px;
    }
  }
  &__top-panel {
    display: none;
    opacity: 0;
    width: 290px;
    height: auto;
    padding: 20px 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fdfcfc;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0 0 8px #0000001a;
    position: absolute;
    top: 30px;
    right: 10px;
    transition: 0.4s all;
    z-index: 2;
    img {
      height: 55px;
      border-radius: 100%;
    }
    a {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  &__top-panel-btn {
    margin-top: 15px;
    border: none;
    background-color: #6c3bce;
    color: #ffffff;
    padding: 5px 10px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.2s all;
    cursor: pointer;
    &:hover {
      background-color: #4a2a8c;
    }
  }

  &__inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    margin-top: 25px;
    display: flex;
    gap: 25px;
  }
  &__menu-item {
    position: relative;
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
  &__menu-item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #000000;
    transition: 0.3s width;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__contacts-item {
    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}

.profile-panel--show {
  display: flex;
  top: 30px;
  opacity: 1;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__label {
    font-family: "Exo 2";
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  &__input {
    height: 35px;
    margin-top: 8px;
    padding: 0 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    &:focus {
      outline: none;
      font-size: 18px;
    }
  }

  .remember-me {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    &__label {
      font-size: 16px;
    }
  }
}

.header__bottom {
  max-width: 1480px;
  height: 30px;
  margin: 20px auto 10px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  &-nav {
    display: flex;
    gap: 15px;
  }
  .link-container {
    position: relative;
    display: flex;
    align-items: center;
    &:hover .header__bottom-link-menu {
      display: flex;
    }
    &:nth-child(1):hover .header__bottom-link {
      color: #61ac46;
    }
    &:nth-child(2):hover .header__bottom-link {
      color: #dc3535;
    }
    &:nth-child(3):hover .header__bottom-link {
      color: #73ca54;
    }
    &:nth-child(4):hover .header__bottom-link {
      color: #386fd5;
    }
    &:nth-child(5):hover .header__bottom-link {
      color: #ac73f9;
    }
    &:nth-child(6):hover .header__bottom-link {
      color: #17c8e0;
    }
    &:nth-child(7):hover .header__bottom-link {
      color: #fb781c;
    }
  }
  &-link {
    position: relative;
    top: 5px;
    padding-bottom: 15px;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;
    transition: 0.2s all;
    color: #000000b5;
    &:hover {
      color: #000000;
    }
  }
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1px;
    background-color: #d6d6d6;
  }
  &-link-menu {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 240px;
    padding: 30px;
    position: absolute;
    top: 34px;
    left: 0;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
    z-index: 2;
    &:hover {
      display: flex;
    }
    a {
      transition: 0.3s all;
      line-height: 25px;
      &:hover {
        color: rgba(0, 0, 0, 0.719);
      }
    }
  }
  &-link-btn-wrapper {
    position: relative;
  }
  &-link-popup {
    display: none;
    width: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 2;
    top: 36px;
    right: 0;
    width: 200px;
    height: auto;
    padding: 20px 10px;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    box-shadow: 4px 4px 11px 0px rgb(32 33 33 / 20%);
  }
  &-link-popup-item {
    text-align: center;
    position: relative;
    &:hover .header__bottom-link-subpopup {
      display: flex;
    }
  }
  &-link-subpopup {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 200px;
    height: auto;
    padding: 20px 15px;
    z-index: 3;
    left: -190px;
    top: 0;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    box-shadow: 4px 4px 11px 0px rgb(32 33 33 / 20%);
    &:hover {
      display: flex;
    }
    a {
      &:hover {
        color: #d3b318;
      }
    }
  }
  &-link-item {
    font-size: 18px;
    font-weight: 600;
    color: #000000b5;
    text-align: center;
    white-space: nowrap;
    &:hover {
      color: #d3b318;
    }
  }
  &-link-btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  span {
    margin-left: 25px;
    font-size: 10px;
  }
}

.burger {
  display: none;
  cursor: pointer;
  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    img {
      height: 23px;
    }
  }
  &__icon {
    height: 30px;
  }
  &__logo {
    margin-bottom: 45px;
    img {
      height: 45px;
    }
  }
  &__menu {
    display: none;
    position: fixed;
    overflow-y: scroll;
    padding: 30px 15px;
    width: 500px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: #ffffff;
    box-shadow: -5px 0px 35px rgb(95 95 95);
  }
  &__menu-head {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: "Roboto Condensed";
    font-weight: 600;
    color: #000000b3;
    word-break: break-all;
  }
  &__menu-items {
    display: flex;
    flex-direction: column;
  }
  &__menu-item {
    padding: 15px 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    &:hover {
      color: #d1b40f;
    }
  }
  &__profile {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #f1f1f1;
    &-img {
      display: flex;
      align-items: center;
      img {
        height: 30px;
      }
    }
  }
  &__profile-inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__profile-name a {
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 600;
    color: #000000c3;
    &:hover {
      color: #d1b40f;
    }
  }
  &__logOut a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__logOut-text {
    font-size: 18px;
    color: #000000c3;
    &:hover {
      color: #d1b40f;
    }
  }
  &__logOut-img {
    height: 18px;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

.logo {
  max-height: 61px;
}

.navigation {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  justify-content: center;
  gap: 20px;
  //rotate animation
  -webkit-perspective: 1200;
  perspective: 1200px;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  &__item {
    padding: 25px 15px 15px;
    min-width: 260px;
    min-height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: #3e3e3e30 0px 10px 20px, #3a3a3a3b 0px 6px 6px;
    //rotate animation
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.35s ease-out;
    -moz-transition: 0.35s ease-out;
    -o-transition: 0.35s ease-out;
    transition: 0.35s ease-out;
    &:nth-child(1) {
      grid-column: 1/3;
      background: #7ec0664d;
    }
    &:nth-child(2) {
      background: #dd5b5b59;
    }
    &:nth-child(3) {
      background: #99ef794d;
    }
    &:nth-child(4) {
      background: #5f86d159;
    }
    &:nth-child(5) {
      background: #ac73f93d;
    }
    &:nth-child(6) {
      background: #7dd7ed4d;
    }
    &:nth-child(7) {
      background: #fed5b9;
    }
  }
  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    //rotate animation
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &__item-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 25px;
    width: 80%;
    //rotate animation
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &__item-link {
    font-family: "Exo 2";
    font-size: 24px;
    font-weight: 600;
    &--bold {
      font-size: 32px;
    }
  }
  &__item-content {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  &__item-list {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg) translateY(-50%);
    position: absolute;
    top: 50%;
    max-height: 80%;
    overflow-y: auto;
  }
  &__item:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition-delay: 0.4s;
  }
  &__item-title {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 900;
  }
  &__item-descr {
    min-height: 110px;
    opacity: 0.7;
    font-family: "Montserrat";
    font-weight: 400;
    &--bold {
      font-weight: 500;
      font-size: 24px;
    }
  }
  &__item-btn {
    margin-top: 15px;
    font-weight: 600;
  }
  &__item {
    :nth-child(1) {
      color: #56973e;
    }
    :nth-child(2) {
      color: #dd5b5b;
    }
    :nth-child(3) {
      color: #73ca54;
    }
    :nth-child(4) {
      color: #557dca;
    }
    :nth-child(5) {
      color: #ac73f9;
    }
    :nth-child(6) {
      color: #1888a3;
    }
    :nth-child(7) {
      color: #fb781c;
    }
  }
}

.services {
  min-height: 723px;
  margin-top: 150px;
  padding: 125px 15px 50px;
  background-color: #f8f8f8;
  position: relative;
  &__inner {
    max-width: 1400px;
    margin: 0 auto;
  }
  &__umbrella {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
    animation: sway;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  &__dog {
    position: absolute;
    right: 0;
    bottom: -20px;
  }
  &__title {
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
    font-size: 32px;
    color: #1d253c;
  }
  &__subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;

    color: #f46752;
  }
  &__descr {
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
  }
  &__item-wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 15px 20px;
    width: 320px;
    min-height: 332px;
    background-color: #ffff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    transition: 0.2s all;
    &:hover {
      box-shadow: 9px 11px 20px 3px rgb(34 60 80 / 20%);
    }
  }
  &__item-img {
    height: 90px;
  }
  &__item-title {
    margin-top: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #2a3041;
  }
  &__item-descr {
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5a6482;
  }
}

@keyframes sway {
  0% {
    transform: translateX(-50%) rotate(15deg);
  }
  50% {
    transform: translateX(-50%) rotate(-3deg) scale(1.05);
  }
  100% {
    transform: translateX(-50%) rotate(15deg);
  }
}

.deal {
  min-height: 768px;
  background: #363839;
  padding: 120px 15px 0;
  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #f46752;
  }
  &__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #ffffff;
  }
  &__descr {
    max-width: 715px;
    margin: 22px auto 0;
    color: #acb4bf;
  }
  &__items {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
  }
  &__bg {
    position: absolute;
    left: 61%;
    transform: translateX(-50%);
    bottom: 101px;
  }
  &__item {
    max-width: 340px;
    min-height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-img {
    max-height: 80px;
    box-shadow: 4px 4px 11px 0px rgb(32 33 33 / 20%);
  }
  &__item-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
  }
  &__item-descr {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #acb4bf;
  }
  &__btn {
    font-family: "Roboto Condensed";
    margin: 30px auto 0;
    width: 210px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffff;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: #f46752;
    transition: 0.4s all;
    cursor: pointer;
    &:hover {
      background-color: #d05947;
      transform: scale(0.99);
    }
  }
}

.request {
  padding: 80px 0;
  min-height: 550px;
  &__inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 424px;
  }
  &__label {
    font-family: "Roboto Condensed";
    margin-top: 25px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #2e2d2d;
  }
  &__input {
    padding: 0 5px 10px 5px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #c5c5c5;
    &:focus {
      outline: none;
    }
  }
  &__warning {
    margin-top: 15px;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 500;
    color: #313131;
    line-height: 25px;
    a {
      font-family: "Roboto Condensed";
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
  &__btn {
    width: 235px;
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #000000;
    border: none;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-weight: 600;
    transition: 0.2s all;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }
    &--coral {
      background: linear-gradient(173deg, #dd5b5b, #cc1c1cea);
    }
    &--green {
      background: rgb(71, 122, 53);
      background: linear-gradient(175deg, rgba(71, 122, 53, 1) 0%, rgb(33, 189, 106) 100%);
    }
    &--light-green {
      background: #87d869;
      background: linear-gradient(212deg, #87d869, #afc763);
    }
    &--green-vacancies {
      background: rgb(56, 226, 145);
      background: linear-gradient(159deg, rgba(56, 226, 145, 1) 0%, rgba(56, 201, 166, 1) 100%);
    }
    &--orange {
      background: rgb(251, 120, 28);
      background: linear-gradient(140deg, rgba(251, 120, 28, 1) 0%, rgba(217, 172, 23, 1) 100%);
    }
    &--purple {
      background-color: #ac73f9;
      background: linear-gradient(140deg, #ac73f9 0%, #7773f9 100%);
    }
    &--blue {
      background: #59bced;
      background: linear-gradient(161deg, #59bced 0%, #7391f9 100%);
    }
    &--yellow {
      background: #dfc800;
      background: linear-gradient(105.14deg, #dfc800, #ff9901);
    }
  }
  &__content {
    position: relative;
  }
  &__content-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__title {
    font-size: 48px;
    font-weight: 900;
    color: #000000d2;
    span {
      font-size: 48px;
      font-weight: 900;
    }
    .coral {
      color: #dd5b5b;
    }
    .green {
      color: #5d914b;
    }
    .light-green {
      color: #87d869;
    }
    .green-vacancies {
      color: #38e291;
    }
    .orange {
      color: #fb781c;
    }
    .purple {
      color: #ac73f9;
    }
    .blue {
      color: #59bced;
    }
    .yellow {
      color: #ffbb01;
    }
  }
  &__subtitle {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 500;
    color: #000000d2;
  }
}

.footer {
  flex: 0 0 auto;
  padding: 40px 0 120px;
  min-height: 430px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  &__inner {
    max-width: 1400px;
    min-height: 350px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__info {
    margin-top: 22px;
    max-width: 320px;
    font-size: 14px;
    line-height: 23px;
    color: #5a6482;
  }
  &__search {
    margin-top: 20px;
    height: 45px;
    display: flex;
    justify-self: center;
  }
  &__search-input {
    padding: 0 10px;
    border: 1px solid #d6d6d6;
    border-radius: 5px 0 0 5px;
    width: 70%;
    &:focus {
      outline: none;
    }
  }
  &__search-btn {
    width: 84px;
    border: none;
    background: linear-gradient(173deg, #020202 0%, #454545ea 100%);
    border-radius: 0 5px 5px 0;
    transition: 0.2s all;
    cursor: pointer;
    img {
      height: 25%;
    }
  }
  &__social {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__menu-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 102px;
  }
  &__menu {
    max-width: 182px;
  }
  &__menu-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #1d253c;
  }
  &__menu-links {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  &__menu-link {
    transition: 0.2s all;
    &:hover {
      color: #d3b318;
    }
  }
  &__copyright {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__copyright-inner {
    width: 1400px;
    margin: 0 auto;
    font-size: 16px;
    color: #5a6482;
  }
}

.hero {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  &__inner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 53px;
    text-transform: capitalize;
    color: #dd5b5b;
  }
  &__text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #5a6482;
  }
  &__btn {
    position: relative;
    width: 214px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
    background: rgb(221, 91, 91);
    background: linear-gradient(173deg, rgba(221, 91, 91, 1) 0%, rgba(204, 28, 28, 0.919) 100%);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: 0.3s all;
    cursor: pointer;
    &:hover::after {
      opacity: 1;
    }
    &::after {
      content: "Продукты";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background: linear-gradient(173deg, rgb(221, 195, 91) 0%, rgba(204, 145, 28, 0.919) 100%);
      opacity: 0;
      transition: 0.5s all;
    }
  }
  &__img {
    max-height: 500px;
  }
}

.breadcrumbs {
  max-width: 1400px;
  margin: 20px auto 0;
  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__list-item {
    position: relative;
    &:not(:last-child) {
      text-decoration: underline;
    }
    &:not(:last-child)::after {
      content: "/";
      position: absolute;
      right: -16px;
    }
    &:last-child a {
      cursor: default;
    }
  }
  &__list-item a {
    color: #000000bf;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
  }
}

.popupForm {
  display: none;
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 36px;
  width: 538px;
  max-height: 100%;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  overflow: auto;
  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18px;
    right: 26px;
    background: #ffffff;
    border: 1px solid #f4f4f4;
    box-shadow: 4px 4px 4px rgba(170, 170, 170, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all;
    &:hover {
      box-shadow: 4px 4px 4px rgba(226, 226, 226, 0.25);
    }
    img {
      height: 16px;
    }
  }
  &__title {
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 26px;
    color: #4a4a4a;
  }
  &__form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-weight: 500;
    font-size: 18px;
    color: #4a4a4a;
    :not(:first-child) {
      margin-top: 20px;
    }
    span {
      font-weight: 500;
      font-size: 24px;
      color: #ff0000;
    }
  }
  &__input {
    margin-top: 10px;
    height: 39px;
    background: #ffffff;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    padding: 0 15px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #cbcbcb;
    }
  }
  &__btn {
    width: 330px;
    height: 45px;
    background: rgb(255, 230, 0);
    background: linear-gradient(104deg, rgb(225, 203, 2) 0%, rgba(255, 153, 1, 1) 100%);
    box-shadow: 6px 6px 5px rgba(37, 37, 37, 0.25);
    border-radius: 50px;
    border: none;
    margin: 40px auto 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #ffffff;
    transition: 0.2s all;
    cursor: pointer;
    &:hover {
      box-shadow: 3px 3px 2px rgba(149, 149, 149, 0.25);
    }
  }

  &__info {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    a {
      font-size: 14px;
      color: #1888a3;
    }
  }
}

.cookie-notification {
  padding: 15px 20px;
  width: 80%;
  max-width: 1400px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  background-color: #f8f8f8;
  border-radius: 0 0 20px 20px;
  display: none;
  align-items: center;
  gap: 20px;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  &__img {
    max-height: 70px;
  }
  &__text {
    line-height: 25px;
    font-size: 16px;
  }
  &__btn {
    padding: 10px 15px;
    border: none;
    color: #ffffff;
    font-weight: 300;
    border-radius: 5px;
    background: rgb(249, 166, 115);
    background: linear-gradient(180deg, rgba(249, 166, 115, 1) 0%, rgba(249, 115, 115, 1) 100%);
    cursor: pointer;
  }
}

// Внутренние страницы
// О компании
@import "./about.scss";
// Вакансии
@import "./vacancies.scss";
// Программы
@import "./programs.scss";
// Контакты
@import "./contacts.scss";
// Раздел 1С: Франчайзи
@import "./franchisee-about.scss";
@import "./franchisee-services.scss";
@import "./its.scss";
@import "./its-tariff.scss";
@import "./fr-its-services.scss";
@import "./its-service.scss";
@import "./franchisee-subscription-service.scss";
@import "./fr-stocks.scss";
@import "./fr-stock.scss";
@import "./franchisee-products.scss";
// Раздел IT Аутсорсинг
@import "./outsource-about.scss";
@import "./outs-services.scss";
@import "./outsource-feedback.scss";
// Раздел GPS Мониторинг
@import "./gps-about.scss";
@import "./gps-possibility.scss";
// Раздел Видеонаблюдение
@import "./vision-about.scss";
@import "./vision-examples.scss";
// Раздел Битрикс24
@import "./bitrix-about.scss";
@import "./bitrix-services.scss";
@import "./bitrix-service.scss";
// Раздел Учебный центр
@import "./school-about.scss";
// Разработка сайтов
@import "./web-about.scss";
@import "./web-services.scss";
@import "./web-feedback.scss";
// Политика обработки персональных данных
@import "./privacy.scss";
// Каталог
@import "./catalog.scss";
// Регистрация
@import "./register.scss";

// Адаптив
@import "./media/main-Media.scss";
// О компании
@import "./media/about-Media.scss";
// Вакансии
@import "./media/vacancies-Media.scss";
// Программы
@import "./media/programs-Media.scss";
// Контакты
@import "./media/contacts-Media.scss";
// Раздел 1С: Франчайзи
@import "./media/franchisee-about-Media.scss";
@import "./media/franchisee-services-Media.scss";
@import "./media/its-Media.scss";
@import "./media/its-tariff-Media.scss";
@import "./media/fr-its-services-Media.scss";
@import "./media/its-service-Media.scss";
@import "./media/franchisee-subscription-Media.scss";
@import "./media/fr-stocks-Media.scss";
@import "./media/fr-stock-Media.scss";
// Раздел IT Аутсорсинг
@import "./media/outsource-about-Media.scss";
@import "./media/outs-services-Media.scss";
@import "./media/outsource-feedback-Media.scss";
// Раздел GPS Мониторинг
@import "./media/gps-about-Media.scss";
@import "./media/gps-possibility-Media.scss";
// Раздел Видеонаблюдение
@import "./media/vision-about-Media.scss";
@import "./media/vision-examples-Media.scss";
@import "./media/bitrix-about-Media.scss";
// Раздел Битрикс24
@import "./media/bitrix-services-Media.scss";
@import "./media/bitrix-service-Media.scss";
// Раздел Учебный центр
@import "./media/school-about-Media.scss";
// Разработка сайтов
@import "./media/web-about-Media.scss";
@import "./media//web-services-Media.scss";
@import "./media/web-feedback-Media.scss";
// Политика обработки персональных данных
@import "./media/privacy-Media.scss";
// Каталог
@import "./media/catalog-Media.scss";
// Регистрация
@import "./media/register-Media.scss";
