.vacancies {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  &__inner {
    margin-top: 50px;
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 15px;
    color: #343434;
    border-bottom: 1px solid #ededed;
  }
  &__items-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
  }
  &__item {
    width: 565px;
    padding: 45px;
    background: #ffffff;
    box-shadow: 0px 0px 30.2949px rgba(0, 0, 0, 0.25);
    border-radius: 53.0161px;
  }
  &__item-title {
    a {
      font-weight: 600;
      font-size: 30px;
      color: #0094ff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__item-descr {
    margin-top: 10px;
  }
  &__item-inner {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item-btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #38e291;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    transition: 0.2s all;
    &:hover {
      background: #32c17c;
    }
  }
  &__item-exp {
    font-size: 15px;
    color: #969696;
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #38e291;
    }
  }

  &__info {
    margin-top: 70px;
    padding: 55px;
    font-family: "Exo 2";
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 35px;
    gap: 50px;
    background: linear-gradient(180deg, rgba(56, 226, 145, 0.75) 0%, rgba(16, 155, 255, 0.75) 168.49%);
    box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  &__info-btn {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #343434;
    color: #ededed;
    border: none;
    cursor: pointer;
  }
}
