@media (max-width: 1410px) {
  .web-services__sect-item {
    max-width: 560px;
  }
  .web-services__vacancies {
    width: 560px;
  }
  .web-services__vacancies-img {
    right: 10px;
  }
  .web-services__vacancies-descr {
    font-size: 16px;
  }
}

@media (max-width: 1220px) {
  .web-services__title {
    font-size: 24px;
    line-height: 30px;
  }
  .web-services__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .web-services__sect-item {
    max-width: 460px;
  }
  .web-services__vacancies {
    width: 460px;
    height: 300px;
  }
  .web-services__vacancies-btn {
    bottom: 130px;
  }
  .web-services__sect-item-descr {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 1020px) {
  .web-services__sect-wrapper {
    gap: 20px;
  }
  .web-services__sect-item {
    max-width: 348px;
  }
  .web-services__title {
    font-size: 22px;
  }
  .web-services__vacancies {
    width: 348px;
    height: 380px;
  }
  .web-services__vacancies-img {
    left: 50%;
    transform: translateX(-50%);
  }
  .web-services__vacancies-btn {
    bottom: 210px;
  }
  .web-services__vacancies-title {
    font-size: 28px;
  }
  .web-services__vacancies-wrapper {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .web-services__sect-item {
    max-width: 100%;
  }
  .web-services__vacancies-wrapper {
    display: none;
  }
}

@media (max-width: 544px) {
  .web-services__title {
    font-size: 18px;
    line-height: 25px;
  }
  .web-services__subtitle {
    font-size: 18px;
    line-height: 25px;
  }
  .web-services__sect {
    margin-top: 30px;
  }
  .web-services__sect-title {
    font-size: 22px;
  }
  .web-services__sect-item-img {
    max-height: 120px;
  }
  .web-services__sect-item-title {
    font-size: 18px;
  }
  .web-services__sect-item-descr {
    margin-top: 5px;
    line-height: 22px;
  }
  .web-services__sect-wrapper {
    margin-top: 20px;
  }
}
